:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
  --lightred: #fff2f2;
  --red: #ff4d4d;
  --max_width: 1000px;
  --date_font_size: min(5vw, 28px);
}
* {
  color: var(--fontColor);
  font-family: lora,georgia,times new roman,serif;
}
body {
    background: var(--bg);
}
h1, h2, h3, footer{
  text-align: center;
}
h3 {
  font-size: min(3vw, 36px);
}
table{
  border: 1px solid black;
  border-collapse: collapse;
  width:75%;
}
th, td {
  padding: 15px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {background-color: var(--lightred);}
hr{
  max-width: var(--max_width);
  border-width:0;
  background-color:red;
  height:4px;
}
.button{
  background-color: var(--white);
  border: none;
  color: var(--red);
  /* padding: 15px 32px; */
  /* margin: 4px 2px; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#logo-wrap {
    max-width: 350px;
    display:block;
}
.center {
  /* display: inline; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--max_width);
  margin:auto;
}
/* .btn {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }
.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
} */
