:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
  --lightred: #fff2f2;
  --red: #ff4d4d;
  --lightgrey: #d4d4d4;
  --max_width: 1000px;
  --date_font_size: min(4vw, 24px);
  --button_font_size: min(3vw, 15px);
}
* {
  color: var(--fontColor);
  /* font-family: Futura, Trebuchet MS, Arial, sans-serif; */
  font-family: lora,georgia,times new roman,serif;
}
html {
  padding: 5pt;
  line-height: 1.6;
}
body {
  background: var(--bg);
  max-width: var(--max_width);
  margin-left: auto;
  margin-right: auto;
  float: none;
}
h1, h2, h3, footer {
  text-align: center;
}
h3 {
  margin:0;
}
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width:75%;
}
th, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: var(--lightred);
}
hr {
  max-width: var(--max_width);
  border-width:0;
  background-color:var(--red);
  height:4px;
}
input {
  font-size:inherit;
}
.button {
  background-color: var(--white);
  border: none;
  color: var(--red);
  margin: 2px; /*example margin*/
  padding: 2px;/*example padding */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#logo-wrap {
    max-width: 300px;
    height: auto;
    display:block;
}
.center {
  /* display: inline; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--max_width);
  margin:auto;
}
.moviebox {
  width:95%;
  max-width:600px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--lightred);
  padding: 10px;
}
.moviebox img {
  width:100%;
  object-fit: cover;
}
.screeningsbox {
  width:95%;
  max-width:600px;
}
a:hover {
  color: var(--red);
}
.fa {
  padding: 0px;
  font-size:50px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
}
brsmall {
  display: block;
  margin: 7px 0;
}
.menu-item {
  font-size:18px;
  display: inline-block;
}
#outer {
  width:100%;
  text-align: center;
}

/* Slider */
.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}
.slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    width: auto;
    height: auto;
}
#slider-range {
    height: 10px;
    width: 300px;
    max-width: 90%;
    background-color: var(--white);
    box-shadow: none;
    border-color: var(--black);
}
#slider-range .noUi-connect {
    background: var(--lightgrey);
    border-color: var(--black);
}
#slider-range .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
    border-color: var(--black);
}
.noUi-active {
  background: var(--red);
}

/* Dropdown checkbox  */
.dropdown-check-list {
  display: inline-block;
  text-align: left;
  width: min(90%, 148px);
  border: 1px solid var(--lightgrey);
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 60px 5px 10px;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 21%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid var(--lightgrey);
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: var(--red);
}
.dropdown-check-list.visible .items {
  display: block;
}
input[type="checkbox"] { /* change "blue" browser chrome to yellow */
  accent-color: var(--red);
}

/* Search box */
.search {
  display: inline-block;
  margin: 0 auto;
  width: min(90%, 150px);
}
.searchTerm {
  border: 1px solid var(--lightgrey);
  border-radius: 0px;
  padding: 5px 20px 5px 10px;
  width: min(90%, 118px);
  line-height: 1.6;
  color: #9DBFAF;
}
.searchTerm:focus {
  color: var(--black);
}

.wrap {
  display: flex;
}
