.offlineContainer {
  top: 0;
  left: 0;
  position: fixed;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  background-color: var(--red);
}
