:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
  --lightred: #fff2f2;
  --red: #ff4d4d;
  --lightgrey: #d4d4d4;
  --darkgrey: #656565;
  --max_width: 1000px;
  --date_font_size: min(4vw, 24px);
  --button_font_size: min(3vw, 15px);
}

* {
  color: inherit;
  font-family: lora, georgia, times new roman, serif;
  box-sizing: border-box;
}

html {
  padding: 5pt;
  line-height: 1.6;
}

a:hover {
  color: var(--red);
}

body {
  background: inherit;
  max-width: var(--max_width);
  margin-left: auto;
  margin-right: auto;
  float: none;
}
h1,
h2,
h3,
footer {
  text-align: center;
}
h3 {
  margin: 0;
}
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 75%;
}
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: var(--lightred);
}
hr {
  max-width: var(--max_width);
  border-width: 0;
  background-color: var(--red);
  height: 4px;
}
input {
  font-size: inherit;
}
.button {
  background-color: var(--white);
  border: none;
  color: var(--red);
  margin: 2px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#logo-wrap {
  max-width: 375px;
  height: auto;
  display: block;
}
.center {
  width: 100%;
  max-width: var(--max_width);
  margin: auto;
}
.moviebox {
  width: 95%;
  max-width: 650px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--lightred);
  padding: 10px;
}
.moviebox img {
  width: 100%;
  object-fit: cover;
}
.screeningsbox {
  width: 95%;
  max-width: 600px;
}
.fa {
  padding: 0;
  font-size: 50px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
}
.menu-item {
  font-size: 18px;
  display: inline-block;
}
#outer {
  width: 100%;
  text-align: center;
}
.secret-link a {
  color: var(--black);
  text-decoration: none;
}

/* Slider */
.slider-styled,
.slider-styled .noUi-handle {
  box-shadow: none;
}
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
  display: none;
}
.slider-styled .noUi-handle .noUi-touch-area {
  border: 1px solid transparent;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  width: auto;
  height: auto;
}
.slider-styled {
  margin: 0 auto;
}
#slider-range {
  height: 10px;
  width: 300px;
  max-width: 90%;
  background-color: var(--white);
  box-shadow: none;
  border-color: var(--black);
}
#slider-range .noUi-connect {
  background: var(--lightgrey);
  border-color: var(--black);
}
#slider-range .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
  border-color: var(--black);
}
.noUi-active {
  background: var(--red);
}

/* Dropdown checkbox  */
.dropdown-check-list {
  display: inline-block;
  text-align: left;
  width: min(100%, 155px);
  border: 1px solid var(--lightgrey);
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  width: 100%;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 21%;
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: var(--red);
}
.dropdown-check-list.visible .items {
  display: block;
}
input[type="checkbox"] {
  accent-color: var(--red);
}

/* Filtering box */
.filtering {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: min(100%, 155px);
}
.filtering-box {
  border: 1px solid var(--lightgrey);
  border-radius: 0;
  padding: 5px 10px 5px 10px;
  width: 100%;
  line-height: 1.6;
  color: #9dbfaf;
}
.filtering-box:focus {
  color: var(--black);
}

.wrap {
  display: flex;
}

/* Sign up form */
#mc_embed_signup {
  width: min(400px, 100%);
}

/* Searchbar */
.movie-search {
  color: var(--black);
  box-sizing: border-box;
  width: min(400px, 100%);
  padding: 0.15em;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: min(90%, 400px);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}
.dropdown a:hover {
  background-color: var(--red);
  color: var(--white);
}
.show {
  display: block;
}

.logo_cdc {
  float: left;
  position: relative;
  left: -4px;
  bottom: -3px;
}
.logo_sas {
  float: left;
  position: relative;
  left: -4px;
  bottom: 0;
}

/* Select dropdown */
select {
  width: 300px;
}

/* Articles */
.post {
  width: min(100%, 300px);
  height: 300px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 10px;
  vertical-align: bottom;
}
.post-grid {
  text-align: center;
}
.post-grid::after {
  content: "";
  clear: both;
  display: table;
  margin: 10px;
}
.post-icon {
  height: 150px;
  max-width: 100%;
}
.post-image {
  width: min(100%, 700px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-image-caption {
  margin-block-start: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: min(100%, 700px);
  color: var(--darkgrey);
  font-size: 14px;
}
